
.own{
  	background-image: url('tlo.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

.own_panel{
	background-color: white;
	opacity: 0.9;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.own_panel > h2{
	text-align: center;
}


