%h2
  Nasza misja

%p.own
  Uważamy że sport, a w szczególności piłka nożna (ze względu na popularność i uniwersalny charakter) to idealny instrument
  do kształtowania charakteru i osobowości dziewcząt i młodych kobiet w takich aspektach jak:

%ul.list-unstyled.own.text-left
  %li
    .fa.fa-angle-right
    współpraca i  współodpowiedzialność za drużynę,
  %li
    .fa.fa-angle-right
    tolerancja,
  %li
    .fa.fa-angle-right
    przestrzeganie zasad fair-play,
  %li
    .fa.fa-angle-right
    zrozumienie siebie i innych,
  %li
    .fa.fa-angle-right
    radzenie sobie z sukcesem i porażką,
  %li
    .fa.fa-angle-right
    pokonywanie własnych słabości,
  %li
    .fa.fa-angle-right
    pewność siebie i konstruktywne myślenie,
  %li
    .fa.fa-angle-right
    chęć do samorozwoju,
  %li
    .fa.fa-angle-right
    zdolność do poświęcenia i zaufania,
  %li
    .fa.fa-angle-right
    dbanie o własne zdrowie i ciało,

%p.own
  W chwili powstania fundacji istnieje w Gdańsku dziewczęcy zespół piłkarski, jednak koszty uczestnictwa w treningach
  ograniczają dostęp większości dzieci do takiej aktywności. Misją Fundacji jest umożliwienie wszystkim chętnym
  dziewczętom - bez względu na sytuację finansową ich rodzin - przynależności do dziewczęcych zespołów piłkarskich
  działających w ramach Fundacji. Szczególną cechą Fundacji jest również to, że osoby zaangażowane w prowadzenie
  treningów to wyłącznie kobietys.
