%h2
  Zgłoś swoją córkę do Ladies Power Gdańsk
  %br - jedynej w Trójmieście szkółki piłkarskiej
  stworzonej z myślą o dziewczętach!

%br
%br

%a.btn.btn-lg.own_button{role: "button", href: '#'} Wypełnij zgłoszenie!