%h2
  Zgłoś swoją córkę do Ladies Power Gdańsk
  %br jedynej w Trójmieście szkółki piłkarskiej o charakterze fundacji
  stworzonej przez kobiety z myślą o dziewczętach!

%br
%br

%a.btn.btn-lg.own_button{role: "button", href: '/players/new'} Wypełnij zgłoszenie!
