.col-xs-12.col-sm-12.col-lg-10
  .col-sm-2.col-lg-2
    .own_content
      tralalala
  .col-xs-12.col-sm-10
    .own_content.jumbotron
      %h1
        Hello, world!
      %p
        sratatata
      %p
        %a.btn.btn-lg.own_button{role: "button"} Zgłoś się!



/<table>
/  <thead>
/    <tr>
/      <th colspan="3"></th>
/    </tr>
/  </thead>
/
/  <tbody>
/    <% @mains.each do |main| %>
/      <tr>
/        <td><%= link_to 'Show', main %></td>
/        <td><%= link_to 'Edit', edit_main_path(main) %></td>
/        <td><%= link_to 'Destroy', main, method: :delete, data: { confirm: 'Are you sure?' } %></td>
/      </tr>
/    <% end %>
/  </tbody>
/</table>
/
/<br>
/
/<%= link_to 'New Main', new_main_path %>
