/*
 *= require_tree .
 *= require_self
 */
/***** LINKI ********/

a,
a:hover,
a:visited{
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}
.own_menu_button > a:hover{
    background-color: transparent;
    text-decoration: none;
    padding-left: 10%;
    border-left: #e5097f solid ;
}

a.own_button,
a.own_button:visited{
    background-color: white;
    color: #7e71b1;
}

a.btn:hover,
a.own_button:hover{
    background-color: white;
    color: #e5097f;
}

.media > a{
    margin-top: 10%;
}

h2 > a:visited,
h2 > a {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

h2 > a:hover{
    color: #e5097f;
    background-color: transparent;
    text-decoration: none;
}
tr > td > a:hover{
    color: #e5097f;
}

/***** BLOKI ********/

.own_navbar{
    margin-top: 1%;
    font-family: 'Niconne', cursive;
    text-align: center;
}

.own_title{
    margin-bottom: 1%;
    line-height: 120%;
    background-color: #7e71b1;
    color: #fff;
}

.own_menu_button{
    font-size: 2.5em;
    line-height: 170%;
    background-color: #7e71b1;
    color: #fff;
    margin-bottom: 1%;
    font-family: 'Niconne', cursive;
}

.own_content{
    font-family: 'Open Sans';
    text-align: left;
    background-color: #7e71b1;
    color: #fff;
    font-size: 1em;
}

.own_margin{
    padding-right:0;
}

.own_content > .jumbotron{
    border-radius    :0;
    background-color :#7e71b1;
    text-align: center;
}

.own_button{
    background-color: #fff;
    color: #7e71b1;
    border-radius: 0;
}

.modal{
    color: #7e71b1;
    text-decoration: solid;
}
.media_nomobile{
    padding: 10%;
}

.media_mobile{
    padding-top: 5%;
    padding-bottom: 5%;
}

.media_mobile > .own_menu_button > .col-xs-6 > a > img{
    width: 100%;
    max-width: 150px;
}

td,
th {
    color: #fff;
}

dd,
.jumbotron > p{
    text-align: left;
}

.field{
    color: #000;
}

.help-block.own{
    color: #fff;
}

p.own,
ul.own > li{
    font-size: 1.2em;
    line-height: 120%;
}
/****** EKRANY ******/

/* xs */
@media (max-width: 767px){
    .own_title{
        font-size: 2.5em;
    }
    .own_menu_button{
        margin-left: 10px;
        font-size: 2em;
        line-height: 120%;
    }
    .media_nomobile{
        display: none;
    }

    .own_margin{
        padding-left: 0;
        padding-top: 2%;
    }
}

/* sm */
@media (min-width:768px){
    .own_title{
        font-size: 5em;
    }
    .own_menu_button{
        font-size: 2em;
        line-height: 140%;
    }
    .media_mobile{
        display: none;
    }
}


