.col-xs-12
  .col-sm-1
  .col-xs-3.col-sm-2
    .own_logo
      %a{href: '/'}
        =image_tag 'lpg2.png', width: '100%'

  .col-xs-9.col-sm-8
    .own_navbar.own_title
      Szkółka Piłkarska
      %br
      Ladies Power Gdańsk


/
  .col-xs-12.col-sm-12
    .own_title
      Szkółka Piłkarska
      %br
      Ladies Power Gdańsk