.col-xs-12.col-sm-12.col-lg-10
  .col-sm-2.col-lg-2
    .own_logo
      =image_tag 'logo_lpg.png', width: '100%'
  .col-sm-10.col-lg-10
    .own_title
      =link_to 'Ladies Power Gdańsk', '/'
  .col-sm-2
    .own_menu_button
      =link_to 'trenerki', '/coaches'
  .col-sm-2
    .own_menu_button
      =link_to 'treningi', '/trainings'
  .col-sm-2
    .own_menu_button
      =link_to 'idea', '#'
  .col-sm-2
    .own_menu_button
      =link_to 'zespoły', '/teams'
  .col-sm-2
    .own_menu_button
      =link_to 'kontakt', '#'