.col-xs-6.col-sm-4
  =image_tag "tiru.png", width: "100%"
.col-xs-6.col-sm-2
  =image_tag "tiru.png", width: "100%"
  =image_tag "tiru.png", width: "100%"

.col-xs-6.col-sm-2
  =image_tag "tiru.png", width: "100%"
.col-xs-6.col-sm-2
  =image_tag "tiru.png", width: "100%"
.col-xs-6.col-sm-2
  =image_tag "tiru.png", width: "100%"